/**
 * Height of these images should be set based on the background-ratio set on the element.
 * Setting a higher background-ratio will require a taller image to prevent white-space
 * from where the background image is pushed upward on scroll.
 **/
@media all and (min-width: 1200px) {
 	.photo {
 		height: 825px;
 	}
}
@media all and (max-width: 1199px) and (min-width: 768px) {
	.photo {
		height: 825px;
	}
}
@media all and (max-width: 978px) {
/*	p,
	ol,
	ul,
	li {
		font-size: 14px;
		line-height: 24px;
	}*/
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 24.5px;
	}
	h3 {
		font-size: 20.5px;
	}
	h4 {
		font-size: 16px;
	}
	main.home h2 {
		font-size: 18px;
	}

	nav a { padding: 0 16px; }

	.callout blockquote,
	.callout blockquote p {
		font-size: 45px;
		line-height: 55px;
	}

	.whitespace-2x {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	.photo {
		padding-left: 0;
		padding-right: 0;
	}
}
@media all and (max-width: 768px) {
	.photo {
		background-attachment: scroll; /* reset */
	}
}
@media all and (max-width: 767px) {
	body { padding: 0; }
	body main.page-content { padding: 80px 20px; }

	nav ul li { padding: 8px 0; }
	nav a {
		font-size: 14px;
		padding: 0 10px;
	}
	body > nav {
		padding: 10px 0;
	}

	main section .container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.whitespace,
	.whitespace-2x {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.whitespace + .whitespace,
	.whitespace-2x + .whitespace-2x {
		padding-top: 0;
	}

	#footer-cta {
		padding: 0 20px;
		font-size: 28px;
		line-height: 36px;
	}
	#footer-cta strong { display: block; }
}
@media all and (max-width: 767px) and (min-width: 481px) {
	.callout blockquote,
	.callout blockquote p {
		font-size: 34px;
		line-height: 44px;
	}
	.callout blockquote small {
		font-size: 20px;
	}

	.photo {
		height: 650px;
		padding-top: 80px;
	}
}
@media all and (max-width: 480px) {
	body main.page-content { padding: 100px 20px; }

	.callout blockquote,
	.callout blockquote p {
		font-size: 25px;
		line-height: 28px;
	}
	.callout blockquote small {
		font-size: 16px;
		margin-top: 10px;
	}

	.cta a {
		font-size: 22px;
		padding: 20px 0;
		width: 260px;
	}

	.photo {
		height: auto;
		padding-top: 100px;
		padding-bottom: 175px;
	}
}